@use 'vars' as *;

.main-comics {
    color: $white;

    #current-series {
        padding-top: $rem250;
        padding-bottom: $rem250;
        background-color: #1c1c1c;
        color: $white;

        a {
            color: $white;
        }
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 6);
        padding: 10px;
    }

    .img-card {
        max-width: 100%;
        height: 200px; 
    }

    h3 {
        margin: $rem1 0;
        font-size: $rem1;
    }

    .current-series {
        background-color: $lightblue;
        width: 150px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        margin-top: -20px;
    }

    #shop-links {
        background-color: $lightblue;
        height: 150px;

        .align-items-center {
            height: 100%;
        }

        .shop-link {
            width: 20%;
            img {
                width: 50px;
                height: auto;
            }

            h4 {
                font-size: $rem075;
                padding-left: 5px;
            }
        }
    }

}



