@use 'vars' as *;

#serie-detail {
    padding: 50px 0;

    h1 {
        font-size: $rem2;
        color: $darkblue;
    }

    .serie-description {
        display: flex;

        .width-70 {
            

            h1 {
                padding-bottom: $rem1;
            }

            p {
                color: $textgray;
                font-size: $rem125;
                line-height: 1.2;
                padding-top: $rem1;
            }
        }

        .advertisement {
            width: 30%;

            h3 {
                text-align: right;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .width-100 {
        background-color: $lightgreen;
        padding: $rem1;
    }

    .width-20 {
        border-left: 1px solid black;
        padding-left: $rem1;
    }
}