// Font size
$rem05: 0.5rem;
$rem075: 0.75rem;
$rem1: 1rem;
$rem125: 1.25rem;
$rem150: 1.5rem;
$rem175: 1.75rem;
$rem2: 2rem;
$rem225: 2.25rem;
$rem250: 2.5rem;
$rem275: 2.75rem;
$rem3: 3rem;

// Color
$lightblue : #0282f9;
$white: #fff;
$footer-link-color: #807266;